body {
    background-image: url("./images/cloud_field_fog_grass_landscape_4k_hd_nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 80vh; 
} 

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(24, 107, 22);
}
img.bg {
    min-width: 1024px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.main {
    font-size: x-large; 
    color: rgb(210, 204, 204); 
    background-color: hwb(221 33% 15%);
    box-shadow: 0 2px 5px grey;
    border-style: solid;
    padding: 0% 5% 1% 5%;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;

    text-align: center;
    border-radius: 20px;
    box-shadow: 20px;
}

input {
    height: 20px;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

.myButtons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}
.buttons{
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    text-align: center;
    border-radius: 50px;
    font-size: medium;
    font-weight: bold;
}

#newGameBtn {
    display: flex;
    justify-content: center;
    margin-left: 38%;
    width:fit-content
}

.player {
    color: rgb(11, 5, 62);
    font-weight: bold;
}

ul {
    list-style: none;
}

#result {
    color: rgb(255, 0, 34);
    font-weight: bold;
}