body {
    background-image: url("./images/cloud_field_fog_grass_landscape_4k_hd_nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: auto; 
} 

img.bg {
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.main {
    font-size: x-large; 
    color: whitesmoke; 
    background-color: rgb(53, 101, 163); 
    box-shadow: 0 2px 5px grey; 
    padding: 0% 5% 1% 5%;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;

    text-align: center; 
    border-radius: 5px 0;
}